openapi: 3.1.0
info:
  title: Uni20 GitHub Issue Creation Action
  version: 1.0.0
  description: >
    Optional authenticated GitHub API action for creating issues in
    Uni20-dev/uni20. Configure this only when issue creation is needed, and use
    it only after the user explicitly asks to create an issue or approves the
    final issue title and body.
  license:
    name: MIT
    url: https://github.com/Uni20-dev/uni20/blob/main/LICENSE
externalDocs:
  description: Privacy policy for the optional Uni20 Custom GPT GitHub Action.
  url: https://github.com/Uni20-dev/uni20/blob/main/docs/ai_guidance/custom_gpt_action_privacy_policy.md
servers:
  - url: https://api.github.com
    description: GitHub REST API
security:
  - githubToken: []
tags:
  - name: issues
    description: Explicitly approved issue creation.
paths:
  /repos/Uni20-dev/uni20/issues:
    post:
      operationId: createUni20Issue
      tags: [issues]
      summary: Create a Uni20 issue
      description: >
        Create an issue in Uni20-dev/uni20. Use only when the user explicitly
        asks to create an issue or approves the final title and body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewIssue"
      responses:
        "201":
          description: Created issue.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Issue"
components:
  securitySchemes:
    githubToken:
      type: http
      scheme: bearer
      bearerFormat: token
      description: GitHub token configured in the GPT Action authentication settings.
  schemas:
    NewIssue:
      type: object
      additionalProperties: false
      required:
        - title
      properties:
        title:
          type: string
          description: Issue title approved by the user.
          minLength: 1
        body:
          type: string
          description: Issue body approved by the user.
        labels:
          type: array
          description: Optional existing label names to apply.
          items:
            type: string
    Issue:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        number:
          type: integer
        title:
          type: string
        body:
          type: [string, "null"]
        state:
          type: string
        html_url:
          type: string
          format: uri
        user:
          $ref: "#/components/schemas/User"
    User:
      type: object
      additionalProperties: true
      properties:
        login:
          type: string
        html_url:
          type: string
          format: uri
